.App-logo {
  height: 100px;
  padding: 0;
  margin:0;
  width:100px; 
}

nav{
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: #18191b;

}
nav .dark{
  background-color: #18191b;
}
nav .light{
  background-color: aquamarine;
}
nav > h3,nav>h4{
    font-size: 23px;
    color: #2767a6;
}

nav>h4{
    margin-right: 10px;
    color: #61DAFB;
}

nav>h3{
  margin-right: auto;
  color: #61DAFB;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 90vh;
} 
.App-header .light{
  background-color: rgb(80, 223, 92);
}
.light{
  background-color: whitesmoke;
  color: #18191b;
}
.App-header .dark{
  background-color: #282c34;
}

.App-header ul{
  padding: 20px 70px;
}

ul>li{
  padding-block: 20px;
}

ul>li::marker{
  font-size: 1.4rem;
  color:#61DAFB;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


 .App-header h1{
  margin: 0;
  padding: 20px;
 }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 550px){
  .App-header ul{
    padding: 20px 50px;
  }
  nav > h3,nav>h4{
    font-size: 17px;
}
.App-logo {
  height: 60px;
  padding: 0;
  margin:0;
  width:60px; 
}
.App-header {
  font-size: calc(10px + 1vmin);
}
ul{
  padding-block: 13px;
  margin-top: 0px;
}
ul>li{
  padding:10px;
}

}
